
*.sublime-workspace

*.sublime-workspace

*.log

*.blg

*.bbl

*.log

*.blg

*.aux

*.log

*.aux

LatexTemplates/UMLdiagram.pdf

LatexTemplates/splncs.bst

LatexTemplates/README.me

LatexTemplates/plain-annote.bst

LatexTemplates/llncs.pdf

LatexTemplates/llncs.cls

LatexTemplates/example_picture.JPG

LatexTemplates/demo.tex

LatexTemplates/demo.pdf

LatexTemplates/demo.bib

Report/Report.pdf

PeerReview/1 - 29:9/keybordshortcutID.pdf

PeerReview/1 - 29:9/Guidelines_for_Touch_Interfaces_in_Critical_Emergency_Situations_-_Outline.pdf

PeerReview/1 - 29:9/interaction-designers-multi.pdf

Refrenses/What's your perspective?.pdf

Refrenses/Quantifying Effects of Exposure to the Third and First-Person Perspectives in Virtual-Reality-Based Training.pdf

Refrenses/The benefits of third-person perspective in virtual and augmented reality?.pdf

Referenser/Quantifying Effects of Exposure to the Third and First-Person Perspectives in Virtual-Reality-Based Training.pdf

Refrenses/Passing a Hide-and-Seek Third-Person Turing Test.pdf

Refrenses/Limited Field of View of Head-Mounted Displays Is Not the Cause of Distance Underestimation in Virtual Environments.pdf

PeerReview/2 - 20:10/Virtual reality, two-dimensional gaming, from a different point-of-view.pdf

PeerReview/2 - 20:10/Albin-Guidelines_for_designing_Touch_interfaces_for_controlling_robotic_nozzles_in_critical_emergency_situations.pdf

PeerReview/2 - 20:10/report.pdf

*.sublime-workspace
