
*.sublime-workspace

*.sublime-workspace

*.log

*.blg

*.bbl

*.log

*.blg

*.aux

*.log

*.aux

LatexTemplates/UMLdiagram.pdf

LatexTemplates/splncs.bst

LatexTemplates/README.me

LatexTemplates/plain-annote.bst

LatexTemplates/llncs.pdf

LatexTemplates/llncs.cls

LatexTemplates/example_picture.JPG

LatexTemplates/demo.tex

LatexTemplates/demo.pdf

LatexTemplates/demo.bib

Report/Report.pdf
